<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxxy.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pxxy.beans.Orders">
        <id column="oid" property="oid" />
        <result column="total" property="total" />
        <result column="ordertime" property="ordertime" />
        <result column="state" property="state" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="addr" property="addr" />
        <result column="uid" property="uid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        oid, total, ordertime, state, name, phone, addr, uid
    </sql>

</mapper>
